{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="container mt-3 pt-3 bg-light min-vh-100">
            <h3 class="text-info text-uppercase font-weight-bolder text-center">Menükarte</h3>
            <table class="table-borderless table-striped mt-3 w-100">
                <tr class="bg-info">
                    <th scope="col" class="table-head p-2 w-50">Gericht</th>
                    <th scope="col" class="table-head p-2 w-25">Art</th>
                    <th scope="col" class="table-head p-2 w-25 text-right">Preis</th>
                </tr>
                {% for item in menue %}
                <tr>
                    <td class="p-2">{{ item.name }}</td>
                    <td class="p-2">{{ item.kind }}</td>
                    <td class="p-2 text-right">{{ item.price|number_format(2, ',', '.') }} €</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
