<div class="container-fluid bg-info">
    <a href="{{ path('home') }}" class="site-logo"><img class="logo-img-size" src="{{ asset ('img/logo.png') }}"
                                                        alt="Burger Logo"/></a>
</div>
<div class="container-fluid bg-info">
    <span class="site-slogan text-capitalize text-uppercase text-white">Wo das gute Essen Zuhause ist!</span>
</div>
